.filter__panel{
    gap: 8px;
}

.main_title h2{
    font-weight: 400;
    font-size: 24px;
}

.main_title{
    margin: 13px 0px 17px 0px;
}

.employee {
    flex-direction: column;
    width: 500px;
}

.main_form{
    margin-top: 15px !important;
}

.formItemField :global(.ant-form-item-row){
    display: initial !important;
}

.formItemField :global(.ant-form-item-row .ant-form-item-label){
    text-align: left !important;
} 

.formItemField{
    margin: 0px !important;
    width: 100% !important;
}