.employee_card {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff9f7;
    flex-direction: column;
}

.employee_roles {
    font-size: 14px;
    margin-top: 10px;
}

.employee_name {
    margin: 0px !important;
    font-size: 18px;
    font-weight: 500;
}

.form {
    flex-direction: column;
    margin-top: 10px;
}