.textField {
    margin-bottom: 0px !important;
}

.textField :global(.ant-form-item-row){
    display: initial !important;
}

.textField :global(.ant-form-item-row .ant-form-item-label){
    text-align: left !important;
}

.textField__description {
    margin-bottom: 8px;
    color: #6C6C6C;
}