
.warehouses_title {
    font-weight: 400;
    margin-top: 10px;
}

.form {
    width: 50%;
    margin-top: 10px !important;
}

.btn {
    margin-top: 10px;
}

.image_title {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0px;
}